$hover-color: #440729;
$active-background: #c23471; 
$clasic: white;
$background-header: #fcaace;
$btn-hover: #c23471;
$btn-active: #f80101;
$btn-cards: #f72997c2;
$card-background: #f5d3f0;
$h4: #000000;
$h2: #585858;
$background-input: #535252;
$background-contacto: #cac5c5;
$font-color-contacto: #6b6b6b;