@import "../var/variables";
/* Grid container decoración y animaciones */
.padre-cards {
    justify-content: center;
    .card {
        margin: 10px;
        margin-bottom: 10px;
        background-color: $card-background;
        width: 320px;
        padding-bottom: 15px;
        position: static;
        border: none;
        .card-img {
            width: 270px;
            height: 180px;
            margin: 20px 15px;
        }
        h4 {
            text-align: center;
            color: $h4;
            margin: 2px;
        }
        p {
            text-align: center;
            margin: 2px;
        }
        ul {
            text-align: center;
        margin: 0px;
        font-size: 16px;
            li {
                list-style: none;
            }
        }
        .cards-button {
            padding: 5px;
            border-radius: 3%;
            border: none;
            color: $clasic;
            background-color: $btn-cards;
            margin: 15px;
            cursor: pointer;
            &:hover{
                background-color: $btn-hover;
            }
            &:active{
                background-color: $btn-active;
            }
        }
    }
}