footer {
    margin: 10px 0px;
    .redes-sociales{
        background-color: #c9c8c8;
        padding: 5px;
        h5{
            margin: 3px;
            text-align: center;
            font-size: 18px;
            }
        .iconos-redes {
            display: flex;
            justify-content: center;
            .fa-brands {
                margin: 10px 20px;
                font-size: 30px;
                cursor: pointer;
            }
        }
        
    }
    p{
        margin: 2px;
        padding: 1px;
        text-align: center;
        font-size: 12px;
        }
}